:host(.app-home) {
    & {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
    }

    .app-home {
        &__btn {
            margin: 0 10px;
        }
    }
}
