@import 'component-common.scss';

:host {
    @extend .app-home;
}

.app-home {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: 100%;

    &:before {
        content: ' ';
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        opacity: 0.34;
        background-image: url("/assets/images/connect.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 40%;
    }

    &__brand {
        flex-grow: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        color: $cian;
        font-weight: 800;
        margin: $spacer-48 auto 0;
        line-height: 1;

        font-size: $font-size-base * 7;

        @include media-breakpoint-down(md) {
            font-size: $font-size-base * 5;
        }

        @include media-breakpoint-down(sm) {
            font-size: $font-size-base * 4;
        }
    }

    &__content {
        flex-grow: 2;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &__brand-text {
        color: $cian;
        font-weight: 700;
        text-align: center;

        p {
            margin: 0;
        }

        font-size: $font-size-base * 2.5;

        @include media-breakpoint-down(sm) {
            font-size: $font-size-base * 2.25;
        }
    }

    &__action-container {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: $spacer*7;
    }

    &__action {
        padding: $spacer-16 $spacer-32;
        font-size: $font-size-base * 2;

        @include media-breakpoint-down(sm) {
            font-size: $font-size-base * 1.5;
        }
    }
}
