$white:    #fff;
$black:    #000;

$gray-100: #FAFAFA;
$gray-200: #cac9c9;
$gray-300: #8a8a8a;
$gray-400: #4A4A4A;
$gray-800: #252429;
$gray-900: #04101B;


$cian: #00CEC9;
$blue: #0984E3;
$light-blue: #74B9FF;
$red: #FF7675;
$orange: #FCBE4B;
$olive: #BADC58;
$green: #38D87C;
$purple: #9980FA;
$pink: #FD79A8;
