<button
    *ngIf="currentPlayerTurnState && !currentPlayerTurnState.diceValue"
    type="button"
    class="btn btn-lg btn-primary app-game-actions__action"
    [disabled]="isProcessing"
    (click)="onRollDiceClick()"
    translate
>GAME.ROLL_THE_DICE</button>

<button
    *ngIf="currentPlayerTurnState && currentPlayerTurnState.diceValue && !currentPlayerTurnState.cardReadingStartedAt"
    type="button"
    class="btn btn-lg btn-primary app-game-actions__action"
    [disabled]="isProcessing"
    (click)="onTakeCardClick()"
    translate
>GAME.TAKE_CARD</button>

<button
    *ngIf="currentPlayerTurnState"
    type="button"
    class="btn btn-lg btn-danger app-game-actions__action"
    [disabled]="isProcessing"
    (click)="onSkipMoveClick()"
    translate
>GAME.SKIP_THE_MOVE</button>
