<div class="app-game-risovach__canvas-container">
    <canvas
        #canvas
        class="app-game-risovach__canvas"
    ></canvas>



    <button
        class="app-game-risovach__erase-btn"
        (click)="onClearClick()"
        translate
    >
        <i class="app-game-risovach__erase-btn-icon"></i>
    </button>
</div>

<div class="row app-game-risovach__tool-bar">
    <div class="col-auto app-game-risovach__tool-bar-option app-game-risovach__pen-width">
        <div
            class="app-game-risovach__pen-width-option"
            [class.app-game-risovach__pen-width-option--active]="lw === currentLineWeight"
            *ngFor="let lw of lineWeights; let i = index"
            (click)="onLineWeightClick(lw)"
        >
            <div
                class="app-game-risovach__pen-width-circle"
                [style.height.px]="lw"
                [style.width.px]="lw"
                [style.background-color]="currentColor"
            ></div>
        </div>
    </div>

    <div class="col-auto app-game-risovach__tool-bar-option app-game-risovach__pen-color">
        <div
            class="app-game-risovach__pen-color-option"
            [class.app-game-risovach__pen-color-option--active]="i === currentColorIndex"
            *ngFor="let color of colors; let i = index"
            (click)="onPenColorClick(i)"
        >
            <div
                class="app-game-risovach__pen-color-circle"
                [style.background-color]="color"
            ></div>
        </div>
    </div>
</div>
