@import 'component-common.scss';

// Hamburger Settings

$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: $font-size-24;
$hamburger-layer-height: $spacer-2;
$hamburger-layer-spacing: $spacer-6;
$hamburger-layer-color: $gray-900;
$hamburger-layer-border-radius: $border-radius;
$hamburger-hover-opacity: 1;

$hamburger-types: (squeeze);

@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

:host {
    @extend .app-header;
}

.app-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: $spacer-8 $spacer-32;
    height: 92px;

    &__brand {
        font-weight: $font-weight-boldest;
        margin-right: auto;

        &-link {
            background-image: url('/assets/images/logo.svg');
            background-repeat: no-repeat;
            background-size: 72px 72px;
            background-position: center center;
            display: block;
            height: 72px;
            width: 72px;
        }
    }

    &__nav {
        &-items {
            display: flex;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        &-item {
            &:not(:first-child) {
                margin-left: $spacer-32;
            }
        }

        &-link {
            font-size: $font-size-24;
            font-weight: $font-weight-normal;
        }
    }

    &__sub-nav {
        position: absolute;
        right: 0;
        top: 92px;
        background: rgba($white, 0.75);
        z-index: 50;
        overflow: hidden;
        border-radius: $border-radius-sm;

        &-items {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            list-style-type: none;
            margin: 0;
            padding: $spacer-16 $spacer-32;
        }

        &-item {
            &:not(:first-child) {
                margin-top: $spacer-16;
            }
        }

        &-link {
            font-size: $font-size-24;
            font-weight: $font-weight-normal;
        }
    }

    &__lang {
        display: flex;
        margin-left: $spacer-32;
        font-size: $font-size-24;

        &-sep {
            display: flex;
            align-items: center;
            padding: 0 $spacer-8 1px;

            &:before {
                content: ' ';
                display: block;
                height: $font-size-24;
                width: 2px;
                background-color: $text-color-base;
            }
        }

        &-btn {
            border: 0;
            padding: 0;
            margin: 0;
            background: transparent;
            font-weight: $font-weight-normal;
            text-transform: uppercase;

            &--active {
                color: $orange;
                font-weight: $font-weight-bold;
            }
        }
    }

    &__toggler {
        display: flex;
        margin-left: $spacer-32;
        height: $font-size-24;
    }
}
