@import 'component-common.scss';

// Hamburger Settings

$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: $font-size-24;
$hamburger-layer-height: $spacer-4;
$hamburger-layer-spacing: $spacer-4;
$hamburger-layer-color: $black-10;
$hamburger-layer-border-radius: $border-radius;
$hamburger-hover-opacity: 1;

$hamburger-types: (squeeze);

@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

:host {
    @extend .app-header;
}

.app-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: $spacer-16 $spacer-32;
    height: 92px;

    &__brand {
        font-weight: $font-weight-boldest;
        margin-right: auto;

        &-link {
            text-decoration: none;
        }
    }

    &__nav {
        &-items {
            display: flex;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        &-item {
            &:not(:first-child) {
                margin-left: $spacer-32;
            }
        }

        &-link {
            font-size: $font-size-24;
            font-weight: $font-weight-bold;
        }
    }

    &__sub-nav {
        position: absolute;
        right: 0;
        top: 92px;
        padding: $spacer-16 $spacer-32;
        background: $white;
        z-index: 10;
        border-top: 1px solid $black-10;
        box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.25);

        &-items {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        &-item {
            &:not(:last-child) {
                margin-bottom: $spacer-16;
            }
        }

        &-link {
            font-size: $font-size-24;
            font-weight: $font-weight-bold;
        }
    }

    &__lang {
        display: flex;
        margin-left: $spacer-32;
        font-size: $font-size-24;

        &-sep {
            padding: 0 $spacer-8;
        }

        &-btn {
            border: 0;
            padding: 0;
            margin: 0;
            background: transparent;
            font-weight: $font-weight-normal;
            text-transform: uppercase;

            &--active {
                font-weight: $font-weight-bold;
            }
        }
    }

    &__toggler {
        display: flex;
        margin-left: $spacer-32;
        height: $font-size-24;
    }
}
