.btn {
    display: inline-flex;
    padding: 10px 45px;
    border: 0;
    border-radius: 6px;
    color: $app-white;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: $app-color-1;

    &:hover {
        text-decoration: none;
        color: $app-white;
    }

    &:active {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    }

    &-primary {
        background-color: $app-color-primary;
    }

    &-secondary {
        background-color: $app-color-secondary;
    }

    &-c1 {
        background-color: $app-color-1;
    }

    &-c2 {
        background-color: $app-color-2;
    }

    &-c3 {
        background-color: $app-color-3;
    }

    &-c4 {
        background-color: $app-color-4;
    }

    &-c5 {
        background-color: $app-color-5;
    }
}
