$app-black: #04101B;
$app-white: #FFF;

$app-grey: #4A4A4A;
$app-blue: #0984E3;
$app-meant: #00CEC9;
$app-red: #FF7675;
$app-yellow: #FCBE4B;

$white: #FFFFFF;
$cian: #00CEC9;
$blue: #0984E3;
$light-blue: #74B9FF;
$red: #FF7675;
$orange: #FCBE4B;
$orange-2: #FFC65E;
$kind-of-black: #04101B;
$olive: #BADC58;
$purple: #9980FA;
$pink: #FD79A8;

$app-color-1: $app-grey;
$app-color-2: $app-blue;
$app-color-3: $app-meant;
$app-color-4: $app-red;
$app-color-5: $app-yellow;

$app-color-primary: $app-blue;
$app-color-secondary: $app-grey;
