.app-header {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 90px;
    background: $app-white;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-grow: 1;

        &-brand {
            color: $app-black;
            font-size: 50px;
            font-weight: 900;

            &:hover {
                text-decoration: none;
                color: $app-black;
            }
        }

        &-items {
            display: flex;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        &-item {
            display: flex;
            align-content: center;

            &:not(:first-child) {
                margin-left: 40px;
            }

            a {
                color: $app-black;
                font-size: 22px;
                font-weight: bold;

                &:hover {
                    color: $app-black;

                }
            }
        }
    }

    &__lang-group {
        display: flex;
    }

    &__lang-sep {
        padding: 0 3px;
    }

    &__lang-btn {
        border: 0;
        background: transparent;
        font-weight: normal;
        text-transform: uppercase;

        &--active {
            font-weight: bold;
        }
    }
}
