<h5 class="app-game-messages__title">System messages</h5>
<div class="app-game-messages__messages-container">
    <table class="table table-borderless table-striped app-game-messages__messages">
        <tbody>
            <tr>
                <td>13:02</td>
                <td>Goes player max</td>
            </tr>
            <tr>
                <td>13:02</td>
                <td>Goes player max</td>
            </tr>
            <tr>
                <td>13:02</td>
                <td>Goes player max</td>
            </tr>
            <tr>
                <td>13:02</td>
                <td>Goes player max</td>
            </tr>
            <tr>
                <td>13:02</td>
                <td>Goes player max</td>
            </tr>
            <tr>
                <td>13:02</td>
                <td>Goes player max</td>
            </tr>
            <tr>
                <td>13:02</td>
                <td>Goes player max</td>
            </tr>
            <tr>
                <td>13:02</td>
                <td>Goes player max</td>
            </tr>
            <tr>
                <td>13:02</td>
                <td>Goes player max</td>
            </tr>
        </tbody>
    </table>
</div>
