<app-game-card-back
    class="app-game-card__back"
    [type]="type"
    [simplifiedView]="simplifiedBack"
></app-game-card-back>

<div
    *ngIf="frontEnabled"
    class="app-game-card__front"
>
    <app-game-card-task
        *ngIf="gameCard"
        class="app-game-card__task"
        [gameCard]="gameCard"
        [currentPlayer]="currentPlayer$ | async"
        [activePlayer]="activePlayer$ | async"
        [playerTurnState]="playerTurnState$ | async"
        [gameCardTaskContentState]="gameCardTaskContentState"
        (gameCardTaskContentAnimationDone)="onGameCardTaskContentAnimationDone($event)"
    ></app-game-card-task>
</div>
