<ul
    *ngIf="!cover"
    class="app-game-card__dice app-game-card__dice-{{ diceDots.length }} app-game-card__dice--first"
>
    <li
        *ngFor="let dot of diceDots"
        class="app-game-card__dice-dot"
    ></li>
</ul>

<ul
    *ngIf="!cover"
    class="app-game-card__dice app-game-card__dice-{{ diceDots.length }} app-game-card__dice--second"
>
    <li
        *ngFor="let dot of diceDots"
        class="app-game-card__dice-dot"
    ></li>
</ul>

<div
    *ngIf="front"
    class="app-game-card__front"
>
    <div class="app-game-card__front-header">
        <h3 class="app-game-card__front-header-title">{{ getCardName(gameCard?.type) | translate }}</h3>
        <h4
            *ngIf="getCarTaskName(gameCard?.task.type)"
            class="app-game-card__front-header-sub-title"
        >
            {{ getCarTaskName(gameCard.task.type) | translate }}
        </h4>
    </div>

    <div
        [@gameCardContent]="gameCardContentState"
        (@gameCardContent.done)="onGameCardContentAnimationDone($event)"
        class="app-game-card__front-content"
    >
        <ul
            *ngIf="gameCard?.task.questions?.length > 0"
            class="app-game-card__front-content-questions"
        >
            <li
                *ngFor="let question of gameCard?.task.questions"
                class="app-game-card__front-content-question"
            >
                {{ question }}
            </li>
        </ul>

        <ul
            *ngIf="gameCard?.task.bannedWords?.length > 0"
            class="app-game-card__front-content-banned-words"
        >
            <li
                *ngFor="let bannedWord of gameCard?.task.bannedWords"
                class="app-game-card__front-content-banned-word"
            >
                {{ bannedWord }}
            </li>
        </ul>
    </div>

    <div class="app-game-card__front-timer">
        {{ timeleft$ | async }}
    </div>

    <div class="row app-game-card__front-footer">
        <div class="col">
            <button
                type="button"
                class="btn btn-block btn-danger"
                (click)="onSkipCardClick()"
                [disabled]="isProcessing$ | async"
                translate
            >GAME_CARD.BUTTONS.SKIP_CARD</button>
        </div>
        <div class="col">
            <button
                type="button"
                class="btn btn-block btn-primary"
                (click)="onGotItClick()"
                [disabled]="isProcessing$ | async"
                translate
            >GAME_CARD.BUTTONS.GOT_IT</button>
        </div>
    </div>
</div>
