@import 'component-common.scss';

$dice-w: 40px;
$dice-h: 40px;
$dice-pad: 4px;

$dot-h: 10px;
$dot-w: 10px;

:host {
    @extend .app-game-card;
}

.app-game-card {
    display: block;
    position: relative;
    height: 256px;
    width: 192px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    background-repeat: no-repeat;
    background-position: center center;

    &#{&}--talk {
        background-color: $light-blue;
        background-image: url(/assets/images/talk.svg);
    }

    &#{&}--mine {
        background-color: $cian;
        background-image: url(/assets/images/mine.svg);
    }

    &#{&}--draw {
        background-color: $olive;
        background-image: url(/assets/images/draw.svg);
    }

    &#{&}--crocodile {
        background-color: $orange;
        background-image: url(/assets/images/crocodile.svg);
    }

    &#{&}--agent {
        background-color: $purple;
        background-image: url(/assets/images/agent.svg);
    }

    &#{&}--joker {
        background-color: $pink;
        background-image: url(/assets/images/joker.svg);
    }

    &__dice {
        display: flex;
        flex-wrap: wrap;
        background-color: $white;
        width: $dice-w;
        height: $dice-h;
        border-radius: $border-radius;
        padding: 0;
        margin: 0;
        list-style-type: none;

        &--first {
            position: absolute;
            top: 8px;
            left: 8px;
        }

        &--second {
            position: absolute;
            bottom: 8px;
            right: 8px;
        }

        &-dot {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:before {
                content: ' ';
                display: block;
                width: $dot-w;
                height: $dot-h;
                border-radius: 50%;
                background-color: $gray-900;
            }
        }

        @mixin dot-pos($t, $r, $b, $l) {
            position: absolute;
            top: $t;
            right: $r;
            bottom: $b;
            left: $l;
        }

        &-1 &-dot {
            &:nth-child(1) {
                @include dot-pos(($dice-h - $dot-h)/2, auto, auto, ($dice-w - $dot-w)/2);
            }
        }

        &-2 &-dot {
            &:nth-child(1) {
                @include dot-pos($dice-pad, auto, auto, $dice-pad);
            }

            &:nth-child(2) {
                @include dot-pos(auto, $dice-pad, $dice-pad, auto);
            }
        }

        &-3 &-dot {
            &:nth-child(1) {
                @include dot-pos($dice-pad, auto, auto, $dice-pad);
            }

            &:nth-child(2) {
                @include dot-pos(($dice-h - $dot-h)/2, auto, auto, ($dice-w - $dot-w)/2);
            }

            &:nth-child(3) {
                @include dot-pos(auto, $dice-pad, $dice-pad, auto);
            }
        }

        &-4 &-dot {
            &:nth-child(1) {
                @include dot-pos($dice-pad, auto, auto, $dice-pad);
            }

            &:nth-child(2) {
                @include dot-pos($dice-pad, $dice-pad, auto, auto);
            }

            &:nth-child(3) {
                @include dot-pos(auto, $dice-pad, $dice-pad, auto);
            }

            &:nth-child(4) {
                @include dot-pos(auto, auto, $dice-pad, $dice-pad);
            }
        }

        &-5 &-dot {
            &:nth-child(1) {
                @include dot-pos($dice-pad, auto, auto, $dice-pad);
            }

            &:nth-child(2) {
                @include dot-pos($dice-pad, $dice-pad, auto, auto);
            }

            &:nth-child(3) {
                @include dot-pos(auto, $dice-pad, $dice-pad, auto);
            }

            &:nth-child(4) {
                @include dot-pos(auto, auto, $dice-pad, $dice-pad);
            }

            &:nth-child(5) {
                @include dot-pos(($dice-h - $dot-h)/2, auto, auto, ($dice-w - $dot-w)/2);
            }
        }

        &-6 &-dot {
            &:nth-child(1) {
                @include dot-pos($dice-pad, auto, auto, $dice-pad);
            }

            &:nth-child(2) {
                @include dot-pos(($dice-h - $dot-h)/2, auto, auto, $dice-pad);
            }

            &:nth-child(3) {
                @include dot-pos(auto, auto, $dice-pad, $dice-pad);
            }

            &:nth-child(4) {
                @include dot-pos($dice-pad, $dice-pad, auto, auto);
            }

            &:nth-child(5) {
                @include dot-pos(($dice-w - $dot-w)/2, $dice-pad, auto, auto);
            }

            &:nth-child(6) {
                @include dot-pos(auto, $dice-pad, $dice-pad, auto);
            }
        }
    }
}
