@import 'component-common.scss';

:host {
    @extend .app-game-card;
}

.app-game-card {
    display: flex;
    flex-direction: column;
    position: relative;

    transform-style: preserve-3d;

    &__back {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__front {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateZ(-1px) rotateY(180deg);
    }
}
