@import 'component-common.scss';

:host {
    @extend .app-game-field;
}

.app-game-field {
    @include flex-v-max;
    @include flex-fill;

    padding: $spacer-32;

    &__center-col {
        &-actions {
            display: flex;
            justify-content: center;
            margin-top: $spacer-32;

            .btn {
                margin: 0 $spacer-16;
            }
        }
    }

    &__right-col {
        display: flex;
        flex-direction: column;

        &-chat {
            margin-top: auto;
        }

        &-actions {
            display: flex;
            justify-content: flex-end;
            margin-top: $spacer-32;
        }
    }
}

.roll-dice {
    height: 161px;
    width: 188px;
    background-image: url(/assets/images/dices.svg);
    background-repeat: no-repeat;
    /*background-size: 161px 188px;*/
    background-position: center center;
}

.timer {
    margin: 0 auto;

    .timer-icon {
        height: 110px;
        width: 73px;
        background-image: url(/assets/images/timer.svg);
        background-repeat: no-repeat;
        /*background-size: 161px 188px;*/
        background-position: center center;
    }

    .timer-count {
        height: 37px;
        width: 84px;
        color: #04101B;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 37px;
    }
}
