<div class="row flex-fill">
    <div class="col-3 app-game-field__left-col">
        <app-game-tiles></app-game-tiles>
    </div>

    <div class="col-6 app-game-field__center-col flex-v-max">

        <div class="row flex-column no-gutters flex-fill">
            <div class="col-auto">

                <div class="row justify-content-between">
                    <div class="col-auto">
                        <app-game-card-deck [type]="GameCardType.Talk"></app-game-card-deck>
                    </div>
                    <div class="col-auto">
                        <app-game-card-deck [type]="GameCardType.Mine"></app-game-card-deck>
                    </div>
                    <div class="col-auto">
                        <app-game-card-deck [type]="GameCardType.Draw"></app-game-card-deck>
                    </div>
                </div>

            </div>

            <div class="col">
                <div class="row">
                    <div class="col app-game-field__center-col-dice">
                        <app-game-dice [value]="diceValue$ | async"></app-game-dice>
                    </div>
                    <div class="col">hz</div>
                    <div class="col">
                        <app-game-timer></app-game-timer>
                    </div>
                </div>
            </div>

            <div class="col-auto">

                <div class="row justify-content-between">
                    <div class="col-auto">
                        <app-game-card-deck [type]="GameCardType.Crocodile"></app-game-card-deck>
                    </div>
                    <div class="col-auto">
                        <app-game-card-deck [type]="GameCardType.Agent"></app-game-card-deck>
                    </div>
                    <div class="col-auto">
                        <app-game-card-deck [type]="GameCardType.Joker"></app-game-card-deck>
                    </div>
                </div>

            </div>

            <app-game-actions
                class="col-auto app-game-field__center-col-actions"
                [currentPlayerTurnState]="currentPlayerTurnState$ | async"
                [isProcessing]="isProcessing$ | async"
            ></app-game-actions>
        </div>
    </div>

    <div class="col-3 app-game-field__right-col">
        <app-teams
            [teams]="teams$ | async"
            [players]="players$ | async"
        ></app-teams>

        <app-game-messages class="app-game-field__right-col-game-messages"></app-game-messages>

        <div class="app-game-field__right-col-actions">
            <button
                type="button"
                class="btn btn-lg btn-secondary"
            >Leave Lobby</button>
        </div>
    </div>
</div>
