@import 'component-common.scss';

:host {
    @extend .game-risovach-modal;
}

.game-risovach-modal {
    display: block;

    &__footer {
        display: flex;
        justify-content: center;
    }

    &__progress-bar {
        width: 100%;
        position: relative;

        &-timer {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
        }
    }
}
