@import 'component-common.scss';

:host {
    @extend .app-team-info;
}

.app-team-info {
    display: block;
    padding: $spacer-8 $spacer-16;
    border-radius: $border-radius;
    min-height: 130px;

    &#{&}--type-1 {
        border: 4px solid $orange;
        background-image: url(/assets/images/teamA.svg);
        background-repeat: no-repeat;
        background-size: 149px 164px;
        background-position: bottom right;
    }

    &#{&}--type-2 {
        border: 4px solid $cian;
        background-image: url(/assets/images/teamB.svg);
        background-repeat: no-repeat;
        background-size: 153px 145px;
        background-position: bottom right;
    }

    &#{&}--type-3 {
        border: 4px solid $cian;
        background-image: url(/assets/images/teamC.svg);
        background-repeat: no-repeat;
        background-size: 145px 135px;
        background-position: bottom right;
    }

    &#{&}--type-4 {
        border: 4px solid $orange;
        background-image: url(/assets/images/teamD.svg);
        background-repeat: no-repeat;
        background-size: 146px 143px;
        background-position: bottom right;
    }

    &__title {
        // color: $white;
        font-weight: $font-weight-boldest;
        margin-bottom: $spacer-8;
    }

    &__player-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &__player {
        // color: $white;
        font-weight: $font-weight-bold;
    }
}
