// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin app-button-variant(
    $background,
    $border,
    $color,
    $hover-background: darken($background, 5%),
    $hover-border: darken($border, 10%),
    $active-background: darken($background, 10%),
    $active-border: darken($border, 12.5%)
) {
    color: $color;
    @include gradient-bg($background);
    border-color: $border;
    @include box-shadow($btn-box-shadow);

    @include hover {
        color: $color;
        @include gradient-bg($hover-background);
        border-color: $hover-border;
    }

    &:focus,
    &.focus {
        // Avoid using mixin so we can pass custom focus shadow properly
        @if $enable-shadows {
            box-shadow: $btn-box-shadow;
        }
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        color: $color;
        background-color: $background;
        border-color: $border;

        // Remove CSS gradients if they're enabled
        @if $enable-gradients {
            background-image: none;
        }
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show>&.dropdown-toggle {
        color: $color;
        background-color: $active-background;

        @if $enable-gradients {
            background-image: none; // Remove the gradient for the pressed/active state
        }

        border-color: $active-border;

        &:focus {

            // Avoid using mixin so we can pass custom focus shadow properly
            @if $enable-shadows and $btn-active-box-shadow !=none {
                box-shadow: $btn-active-box-shadow;
            }
        }
    }
}

@mixin btn-icon {
    display: inline-block;
    padding: 0;
    border: 0;
    color: inherit;
    font-size: inherit;
    background: transparent;
}
