@import 'component-common.scss';

:host {
    @extend .app-game-card-task;
}

.app-game-card-task {
    display: flex;
    flex-direction: column;

    &__header {
        margin-bottom: $spacer-x2;
    }

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: $font-size-24;
        border-top: 1px solid $cian;
        border-bottom: 1px solid $cian;
    }

    &__footer {
        margin-top: $spacer-x2;
    }

    &__title {
        color: $cian;
        text-align: center;
        font-size: $font-size-32;
    }

    &__sub-title {
        color: $orange;
        text-align: center;
        font-size: $font-size-24;
    }

    &__question {
        margin-bottom: $spacer;

        &-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;
        }
    }

    &__banned-word {
        margin-bottom: $spacer;
        color: $red;

        &-list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;
        }
    }

    &__timer {
        text-align: center;
        padding: $spacer-x2;
        font-size: $font-size-24;
        font-weight: $font-weight-bold;
    }
}
