<app-game-card
    *ngFor="let card of coverCards; let i = index"
    class="app-game-card-deck__card app-game-card-deck__card--cover"
    [type]="type"
    [simplifiedBack]="true"
></app-game-card>

<app-game-card
    #topGameCardEl
    class="app-game-card-deck__card app-game-card-deck__card--top"
    [type]="type"
></app-game-card>

<div
    #backdropEl
    [@gameCardBackdrop]="gameCardBackdropState"
    class="app-game-card-deck__backdrop"
>
    <app-game-card
        #activeGameCardEl
        [@gameCard]="gameCardState"
        class="app-game-card-deck__card app-game-card-deck__card--active"
        [type]="type"
        [frontEnabled]="true"
        [gameCard]="activeGameCard"
        [gameCardTaskContentState]="gameCardTaskContentState"
        (gameCardTaskContentAnimationDone)="onGameCardTaskContentAnimationDone($event)"
    ></app-game-card>
</div>
