<app-game-card
    *ngFor="let card of coverCards; let i = index"
    class="app-game-card-deck__card app-game-card-deck__card--cover"
    [type]="type"
    [cover]="true"
></app-game-card>

<app-game-card
    #topGameCardEl
    class="app-game-card-deck__card app-game-card-deck__card--top"
    [type]="type"
    [cover]="false"
    (click)="onTopCardClick()"
></app-game-card>

<div
    #backdropEl
    [@gameCardBackdrop]="gameCardBackdropState"
    class="app-game-card-deck__backdrop"
>
    <app-game-card
        #activeGameCardEl
        [@gameCard]="gameCardState"
        class="app-game-card-deck__card app-game-card-deck__card--active"
        [type]="type"
        [cover]="false"
        (click)="onActiveCardClick()"
    ></app-game-card>
</div>
