@import 'component-common.scss';

$dice-s: 64px;

$dice-s: 64px;
$dice-origin: $dice-s/2;

$dot-s: 16px;
$dot-pad: 8px;

$z-index: 10;

:host {
    display: block;
    position: relative;
    width: $dice-s*2;
    height: $dice-s*2;
    z-index: $z-index;
}

.dice-platform {
    position: relative;
    width: $dice-s*2;
    height: $dice-s*2;
    background: radial-gradient(circle, rgba($gray-900, 1) 0%, rgba($white, 0) 75%, rgba($white, 0) 100%);
    border-radius: 50%;

    transform-style: preserve-3d;
    transform: rotateX(45deg);
}

.dice-wrapper {
    position: relative;
    width: $dice-s;
    height: $dice-s;

    transform-style: preserve-3d;
    transform: translate3d($dice-s/2, $dice-s/2, $dice-s/2);
}

.dice {
    position: absolute;
    width: $dice-s;
    height: $dice-s;

    transform-style: preserve-3d;
    transform-origin: $dice-s/2 $dice-s/2 0;

    .side {
        position: absolute;
        width: $dice-s;
        height: $dice-s;
        background: $white;
        border-radius: 20%;
        box-shadow: inset 0 0 40px #ccc;

        .dot {
            position: absolute;
            width: $dot-s;
            height: $dot-s;
            border-radius: 50%;
            background: #444;
            box-shadow: inset 5px 0 10px $black;

            &.center {
                margin: ($dice-s -$dot-s)/2 0 0 ($dice-s -$dot-s)/2;
            }

            &.dtop {
                margin-top: $dot-pad;
            }

            &.dleft {
                margin-left: $dice-s -$dot-s - $dot-pad;
            }

            &.dright {
                margin-left: $dot-pad;
            }

            &.dbottom {
                margin-top: $dice-s -$dot-s - $dot-pad;
            }

            &.center.dleft {
                margin: ($dice-s -$dot-s)/2 0 0 $dot-pad;
            }

            &.center.dright {
                margin: ($dice-s -$dot-s)/2 0 0 ($dice-s -$dot-s - $dot-pad);
            }
        }
    }

    .cover,
    .inner {
        background: #e0e0e0;
        box-shadow: none;
    }

    .cover {
        border-radius: 0;
        transform: translateZ(0px);
    }

    .cover.x {
        transform: rotateY(90deg);
    }

    .cover.z {
        transform: rotateX(90deg);
    }

    .front {
        transform: translateZ($dice-origin);

        &.inner {
            transform: translateZ($dice-origin - 2px);
        }
    }

    .back {
        transform: rotateX(-180deg) translateZ($dice-origin);

        &.inner {
            transform: rotateX(-180deg) translateZ($dice-origin - 2px);
        }
    }

    .right {
        transform: rotateY(90deg) translateZ($dice-origin);

        &.inner {
            transform: rotateY(90deg) translateZ($dice-origin - 2px);
        }
    }

    .left {
        transform: rotateY(-90deg) translateZ($dice-origin);

        &.inner {
            transform: rotateY(-90deg) translateZ($dice-origin - 2px);
        }
    }

    .top {
        transform: rotateX(90deg) translateZ($dice-origin);

        &.inner {
            transform: rotateX(90deg) translateZ($dice-origin - 2px);
        }
    }

    .bottom {
        transform: rotateX(-90deg) translateZ($dice-origin);

        &.inner {
            transform: rotateX(-90deg) translateZ($dice-origin - 2px);
        }
    }
}
