<div
    class="app-control-validation__container"
    *ngIf="isErrorsVisible"
>
    <!--Built-in errors-->
    <p
        class="app-control-validation__error"
        *ngIf="control.hasError('required')"
    >{{ control.errorMessages.required | translate: translateParams }}</p>

    <!--Custom errors-->
    <p
        class="app-control-validation__error"
        *ngFor="let customErrorKey of customErrorKeys"
    >
        {{control.errorMessages[customErrorKey] || control.getError(customErrorKey)}}
    </p>
</div>
