<div class="co-control-validation-errors" *ngIf="isErrorsVisible">
    <!--Built-in errors-->
    <p *ngIf="control.hasError('required')">{{ control.errorMessages.required || ('Please enter the ' + controlNameKey + '.') }}</p>
    <p *ngIf="control.hasError('maxlength')">{{ control.errorMessages.maxlength || ('The ' + controlNameKey + ' must be not greater than ' + control.maxLength + '.') }}</p>

    <!--Custom errors-->
    <p *ngFor="let customErrorKey of customErrorKeys">
        {{control.errorMessages[customErrorKey] || control.getError(customErrorKey)}}
    </p>
</div>