@import 'component-common.scss';

:host {
    @extend .app-control-validation;    
}

.app-control-validation {
    display: block;

    &__container {
        margin-top: $spacer-8;
    }

    &__error {
        color: $red;
    }
}
