<h3>Create a lobby</h3>

<form autocomplete="off" #lobbyForm="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
        <label for="lobby-name">Lobby name</label>
        <input type="text" class="form-control" id="lobby-name" name="name" [(ngModel)]="lobby.name" required />
    </div>

    <div class="form-group">
        <label>Select amout of teams</label>
        <div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="team-count" id="team-count-2" [value]="2" [(ngModel)]="teamCount" (change)="onTeamCountChange()">
                <label class="form-check-label" for="team-count-2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="team-count" id="team-count-3" [value]="3" [(ngModel)]="teamCount" (change)="onTeamCountChange()">
                <label class="form-check-label" for="team-count-3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="team-count" id="team-count-4" [value]="4" [(ngModel)]="teamCount" (change)="onTeamCountChange()">
                <label class="form-check-label" for="team-count-4">4</label>
            </div>
        </div>
    </div>

    <div *ngFor="let team of lobby.teams; let i = index" class="form-group">
        <label for="team-{{ i + 1 }}-name">Team {{ i + 1 }} name</label>
        <input type="text" class="form-control" id="team-{{ i + 1 }}-name" name="lobby.teams[i].name" [(ngModel)]="lobby.teams[i].name" required />
    </div>

    <button type="submit" class="btn btn-primary">Create a lobby</button>
</form>
